/*s-4*/
.s-4 {
  padding: 119px 0 110px;
  background: #383838;
}
.faq .row {
  align-items: flex-start;
}
.faq  .section-text-block {
  width: 36.58%;
  color: #fff;
  font-family: 'SFPro Thin';
}
.faq .section-title {
  font-size: 45px;
  line-height: 54px;
  margin-bottom: 26px;
}
.faq .section-text {
  font-size: 22px;
  line-height: 26px;
}
.form-block {
  width: 50.08%;
}
.form-block form,  .form-block input, .form-block textarea{
  width: 100%;
  background: transparent;
}
.form-block input, .form-block textarea {
  padding: 15px;
  margin-bottom: 21px;
  font-size: 18px;
  line-height: 130%;
  color: #fff;
}
.form-block input {
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}
.form-block textarea {
  border: 1px solid rgba(255, 255, 255, 0.5);
}
.form-block input::placeholder, .form-block textarea::placeholder{
  color: #7E7E7E;
}
.form-btn {
  width: 100%;
  padding: 22px 0 17px;
  text-align: center;
  font-size: 18px;
  line-height: 21px;
  background: #FFFFFF;
  border: 1px solid rgba(255, 255, 255, 0.5);
}
@media screen and (max-width: 1439px) {
  .faq .section-title {
    font-size: 40px;
    line-height: 50px;
    margin-bottom: 22px;
  }
}
@media screen and (max-width: 1199px) {
  .container{
    width: 960px;
  }
  .faq .section-text-block {
      width: 46.58%;
  }
}
@media screen and (max-width: 991px) {
  .s-4 .row {
    flex-direction: column;
    text-align: center;
  }
  .faq .section-text-block {
      width: 100%;
  }
  .form-block {
    width: 100%;
  }
}
@media screen and (max-width: 767px) {
  .faq .section-title {
    font-size: 32px;
    line-height: 40px;
    margin-bottom: 16px;
  }
  .faq .section-text {
    font-size: 16px;
    line-height: 20px;
  }
  .form-block input, .form-block textarea {
    padding: 10px;
    margin-bottom: 15px;
    font-size: 14px;
  }
  .form-btn {
    padding: 16px 0 12px;
    font-size: 14px;
    line-height: 18px;
  }
}
@media screen and (max-width: 575px) {
  .s-4 {
    padding: 40px 0;
    margin: 0;
  }
}