/* Reset */
* {
  padding: 0;
  margin: 0;
  line-height: 1;
  box-sizing: border-box;
}
a, img, button, input {
  display: block;
}
a, img, button {
  cursor: pointer;
}
button {
  background-color: transparent;
  border: none;
}
a {
  text-decoration: none;
}
button:focus, input:focus {
  outline: none;
}

/*Fonts*/
@font-face {
  font-family: 'SFPro Thin';
  src: url('../fonts/SFProDisplay-Thin.ttf'),
       url('../fonts/SFProDisplay-Thin.woff'),
       url('../fonts/SFProDisplay-Thin.woff2');
}
@font-face {
  font-family: 'SFPro Light';
  src: url('../fonts/SFProDisplay-Light.ttf'),
       url('../fonts/SFProDisplay-Light.woff'),
       url('../fonts/SFProDisplay-Light.woff2');
}
@font-face {
  font-family: 'SFPro Regular';
  src: url('../fonts/SFProDisplay-Regular.ttf'),
       url('../fonts/SFProDisplay-Regular.woff'),
       url('../fonts/SFProDisplay-Regular.woff2');
}
/*Main settings*/
html {
  font-size: 10px;
  font-family: 'SFPro Regular';
  color: #000;
}
.section{
  width: 100%;
}
.container{
  width: 1230px;
  margin: auto;
}
.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/*Footer*/
footer {
  padding: 67px 0 93px;
  background: #171717;
}
.footer .row {
  align-items: flex-start;
}
.footer-cols-block {
  width: 55.12%;
  display: flex;
  justify-content: space-between;
}
.col-title {
  color: #7E7E7E;
  font-size: 18px;
  line-height: 85%;
  text-transform: uppercase;
  margin-bottom: 40px;
}
.footer-col-item {
  font-size: 18px;
  line-height: 167%;
  color: #fff;
}
.footer-text {
  font-size: 18px;
  line-height: 167%;
  color: #fff;
  margin-bottom: 20px;
}
.footer-logo-block {
  width: 26.18%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.footer .logo {
  width: 84%;
  margin-right: 0;
  margin-bottom: 22px;
}
.footer-social-links-block {
  width: 24.8%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
}
.footer-social-link {
  width: 36px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
  border-radius: 4px;
}
.footer-social-link svg {
  height: 18px;
  fill: #000;
  transition: all 0.3s ease;
}
.footer-social-link:hover svg{
  fill: #777777;
}
.footer-sub-text {
  font-size: 15px;
  line-height: 18px;
  text-align: right;
  color: #585858;
}


@media screen and (max-width: 1439px) {
  .container{
    width: 1140px;
  }
  .footer-logo-block {
    width: 35%;
  }
  .footer-social-links-block {
    width: 20%;
  }
}
@media screen and (max-width: 1199px) {
  .container{
    width: 960px;
  }
  .footer-cols-block {
    width: 65.12%;
    display: flex;
    justify-content: space-between;
  }
  .footer-social-links-block {
    width: 25%;
  }
}
@media screen and (max-width: 991px) {
  .container{
    width: 720px;
  }
  footer {
      padding: 60px 0;
  }
  .footer .row {
    flex-direction: column;
  }
  .footer-cols-block {
    width: 100%;
  }
  .footer-logo-block {
    margin-top: 30px;
    width: 50%;
    align-items: flex-start;
  }
  .footer-social-links-block {
    width: 22%;
  }
}
@media screen and (max-width: 767px) {
  .container{
    width: 540px;
  }
  .col-title {
    font-size: 16px;
    margin-bottom: 20px;
  }
  .footer-col-item {
    font-size: 14px;
  }
  .footer-text {
    font-size: 14px;
    margin-bottom: 10px;
  }
  .footer-logo-block {
    margin-top: 30px;
    width: 70%;
  }
  .footer-sub-text {
    font-size: 12px;
    line-height: 14px;
  }
}
@media screen and (max-width: 575px) {
  .container{
    width: 350px;
  }
  footer {
    padding: 40px 0;
  }
  .footer-cols-block {
    flex-direction: column;
    align-items: center;
  }
  .footer-col {
    margin-bottom: 35px;
    text-align: center;
  }
  .col-title {
    margin-bottom: 10px;
  }
  .footer-logo-block {
    margin-top: 0px;
    width: 100%;
    align-items: center;
  }
  .footer-social-links-block {
    width: 24%;
  }
}
@media screen and (max-width: 374px) {
  .container{
    width: 300px;
  }
  .footer-social-links-block {
    width: 32%;
  }
}