/*s-1*/
.s-1 {
  position: relative;
  padding-top: 48.25%;
  background-image: url('../imgs/main_bg.jpg');
  background-size: cover;
  background-position: center;
}
.main-btn {
  width: 287px;
  padding: 26px 0;
  text-align: center;
  background: #000;
  border: 2px solid #000;
  color: #fff;
  font-size: 18px;
  line-height: 85%;
  transition: all 0.3s ease;
}
.main-btn:hover {
  background: #fff;
  color: #000;
}
.s-1 .main-btn {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

/*s-2*/
.s-2 {
  padding: 81px 0 100px;
}
.section-img-block {
  width: 39.27%;
}
.section-img-block img {
  width: 100%;
}
.section-text-block {
  width: 40.73%;
}
.section-title {
  font-size: 30px;
  line-height: 85%;
  margin-bottom: 45px;
}
.section-text {
  font-size: 18px;
  line-height: 130%;
  margin-bottom: 20px;
}

/*s-3*/
.s-3 {
  margin-bottom: 109px;
}
.services {
  padding: 0 28px;
}
.services .row {
  padding: 34px 57px;
  background-color: #E4FCFF;
  align-items: flex-start;
}
.row.service-row {
  display: none;
}
.service-block {
  width: 18%;
}
.service-block svg {
  display: block;
  width: 45%;
  margin: 0 auto 15px;
}
.service-description {
  text-align: center;
  font-size: 18px;
  line-height: 150%;
}

@media screen and (max-width: 1439px) {
  .container{
    width: 1140px;
  }
  .service-block {
    width: 22%;
  }
}
@media screen and (max-width: 1199px) {
  .container{
    width: 960px;
  }
  .service-block svg {
      width: 35%;
  }
  .service-description {
    font-size: 16px;
  }
}
@media screen and (max-width: 991px) {
  .container{
    width: 720px;
  }
  .main-btn {
    width: 230px;
    padding: 18px 0;
    font-size: 16px;
    line-height: 85%;
  }
  .s-2 {
    padding: 60px 0 60px;
  }
  .section-text-block {
      width: 50.73%;
  }
  .s-3 {
    margin-bottom: 60px;
  }
  .services {
    padding: 0;
  }
  .services .row {
    padding: 17px 20px;
  }
  .service-block {
    width: 24%;
  }
  .service-description {
    font-size: 14px;
  }
}
@media screen and (max-width: 767px) {
  .container{
    width: 540px;
  }
  .main-btn {
    width: 190px;
    padding: 12px 0;
    font-size: 14px;
  }
  .section-title {
    font-size: 24px;
    margin-bottom: 25px;
  }
  .section-text {
    font-size: 16px;
    line-height: 130%;
    margin-bottom: 10px;
  }
  .service-description {
    font-size: 11px;
  }
}
@media screen and (max-width: 575px) {
  .container{
    width: 350px;
  }
  .header-bar {
    padding: 24px 0 20px;
  }
  .header-info-block {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: auto;
  }
  .info {
    line-height: 20px;
  }
  .section {
    margin: 40px 0;
    padding: 0;
  }
  .s-1 {
    margin-top: 0;
    padding-top: 48%;
  }
  .s-2 .row {
    flex-direction: column;
  }
  .section-img-block {
    width: 80%;
    margin-bottom: 20px;
  }
  .section-text-block {
    width: 100%;
  }
  .section-text {
    font-size: 14px;
    margin-bottom: 7px;
  }
  .s-3 {
    margin-bottom: 0;
  }
  .services .row {
    display: none;
  }
  .row.service-row {
    display: flex;
  }
  .service-row {
    display: flex;
    flex-wrap: wrap;
    padding: 14px;
    background-color: #E4FCFF;
    align-items: flex-start;
  }
  .service-block {
    width: 40%;
    margin: 15px;
  }
  .s-4 {
    padding: 40px 0;
    margin: 0;
  }
}
@media screen and (max-width: 374px) {
  .container{
    width: 300px;
  }
   .section-img-block {
    width: 50%;
    margin-bottom: 20px;
  }
  .service-block {
    width: 39%;
    margin: 15px;
  }
  .service-row {
    padding: 0;
  }
}