/* Reset */
* {
  padding: 0;
  margin: 0;
  line-height: 1;
  box-sizing: border-box;
}
a, img, button, input {
  display: block;
}
a, img, button {
  cursor: pointer;
}
button {
  background-color: transparent;
  border: none;
}
a {
  text-decoration: none;
}
button:focus, input:focus {
  outline: none;
}
ul {
  list-style-type: none;
}

/*Fonts*/
@font-face {
  font-family: 'SFPro Thin';
  src: url('../fonts/SFProDisplay-Thin.ttf'),
       url('../fonts/SFProDisplay-Thin.woff'),
       url('../fonts/SFProDisplay-Thin.woff2');
}
@font-face {
  font-family: 'SFPro Light';
  src: url('../fonts/SFProDisplay-Light.ttf'),
       url('../fonts/SFProDisplay-Light.woff'),
       url('../fonts/SFProDisplay-Light.woff2');
}
@font-face {
  font-family: 'SFPro Regular';
  src: url('../fonts/SFProDisplay-Regular.ttf'),
       url('../fonts/SFProDisplay-Regular.woff'),
       url('../fonts/SFProDisplay-Regular.woff2');
}
/*Main settings*/
html {
  font-size: 10px;
  font-family: 'SFPro Regular';
  color: #000;
}
.section{
  width: 100%;
}
.container{
  width: 1230px;
  margin: auto;
}
.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 1439px) {
  .container{
    width: 1140px;
  }
}
@media screen and (max-width: 1199px) {
  .container{
    width: 960px;
  }
}
@media screen and (max-width: 991px) {
  .container{
    width: 720px;
  }
}
@media screen and (max-width: 767px) {
  .container{
    width: 540px;
  }
}
@media screen and (max-width: 575px) {
  .container{
    width: 350px;
  }
}
@media screen and (max-width: 374px) {
  .container{
    width: 300px;
  }
}