/* Reset */
* {
  padding: 0;
  margin: 0;
  line-height: 1;
  box-sizing: border-box;
}
a, img, button, input {
  display: block;
}
a, img, button {
  cursor: pointer;
}
button {
  background-color: transparent;
  border: none;
}
a {
  text-decoration: none;
}
button:focus, input:focus {
  outline: none;
}

/*Fonts*/
@font-face {
  font-family: 'SFPro Thin';
  src: url('../fonts/SFProDisplay-Thin.ttf'),
       url('../fonts/SFProDisplay-Thin.woff'),
       url('../fonts/SFProDisplay-Thin.woff2');
}
@font-face {
  font-family: 'SFPro Light';
  src: url('../fonts/SFProDisplay-Light.ttf'),
       url('../fonts/SFProDisplay-Light.woff'),
       url('../fonts/SFProDisplay-Light.woff2');
}
@font-face {
  font-family: 'SFPro Regular';
  src: url('../fonts/SFProDisplay-Regular.ttf'),
       url('../fonts/SFProDisplay-Regular.woff'),
       url('../fonts/SFProDisplay-Regular.woff2');
}
/*Main settings*/
html {
  font-size: 10px;
  font-family: 'SFPro Regular';
  color: #000;
}
.section{
  width: 100%;
}
.container{
  width: 1230px;
  margin: auto;
}
.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/*Header*/

.header-bar {
  padding: 24px 12px 20px;
}
.social-links-block {
  width: auto;
  display: flex;
}
.link-item {
  margin-right: 15px;
}
.link-item svg{
  height: 18px;
  fill: #000;
  transition: all 0.3s ease;
}
.link-item svg:hover{
  fill: #777777;
}
.header-info-block {
  display: flex;
  width: 356px;
  justify-content: space-between;
  font-size: 14px;
  line-height: 85%;
}
.info span{
  color: #777777;
}

/*s-1*/
.s-1 {
  position: relative;
  padding-top: 48.25%;
  background-image: url('../imgs/main_bg.jpg');
  background-size: cover;
  background-position: center;
}
.main-btn {
  width: 287px;
  padding: 26px 0;
  text-align: center;
  background: #000;
  border: 2px solid #000;
  color: #fff;
  font-size: 18px;
  line-height: 85%;
  transition: all 0.3s ease;
}
.main-btn:hover {
  background: #fff;
  color: #000;
}
.s-1 .main-btn {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

/*s-2*/
.s-2 {
  padding: 81px 0 100px;
}
.section-img-block {
  width: 39.27%;
}
.section-img-block img {
  width: 100%;
}
.section-text-block {
  width: 40.73%;
}
.section-title {
  font-size: 30px;
  line-height: 85%;
  margin-bottom: 45px;
}
.section-text {
  font-size: 18px;
  line-height: 130%;
  margin-bottom: 20px;
}

/*s-3*/
.s-3 {
  margin-bottom: 109px;
}
.services {
  padding: 0 28px;
}
.services .row {
  padding: 34px 57px;
  background-color: #E4FCFF;
  align-items: flex-start;
}
.service-row {
  display: none;
}
.service-block {
  width: 18%;
}
.service-block svg {
  display: block;
  width: 45%;
  margin: 0 auto 15px;
}
.service-description {
  text-align: center;
  font-size: 18px;
  line-height: 150%;
}

/*s-4*/
.s-4 {
  padding: 119px 0 110px;
  background: #383838;
}
.faq {}
.faq .row {
  align-items: flex-start;
}
.faq  .section-text-block {
  width: 36.58%;
  color: #fff;
  font-family: 'SFPro Thin';
}
.faq .section-title {
  font-size: 45px;
  line-height: 54px;
  margin-bottom: 26px;
}
.faq .section-text {
  font-size: 22px;
  line-height: 26px;
}
.form-block {
  width: 50.08%;
}
.form-block form,  .form-block input, .form-block textarea{
  width: 100%;
  background: transparent;
}
.form-block input, .form-block textarea {
  padding: 15px;
  margin-bottom: 21px;
  font-size: 18px;
  line-height: 130%;
  color: #fff;
}
.form-block input {
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}
.form-block textarea {
  border: 1px solid rgba(255, 255, 255, 0.5);
}
.form-block input::placeholder, .form-block textarea::placeholder{
  color: #7E7E7E;
}
.form-btn {
  width: 100%;
  padding: 22px 0 17px;
  text-align: center;
  font-size: 18px;
  line-height: 21px;
  background: #FFFFFF;
  border: 1px solid rgba(255, 255, 255, 0.5);
}

/*Footer*/
footer {
  padding: 67px 0 93px;
  background: #171717;
}
.footer .row {
  align-items: flex-start;
}
.footer-cols-block {
  width: 55.12%;
  display: flex;
  justify-content: space-between;
}
.col-title {
  color: #7E7E7E;
  font-size: 18px;
  line-height: 85%;
  text-transform: uppercase;
  margin-bottom: 40px;
}
.footer-col-item {
  font-size: 18px;
  line-height: 167%;
  color: #fff;
}
.footer-text {
  font-size: 18px;
  line-height: 167%;
  color: #fff;
  margin-bottom: 20px;
}
.footer-logo-block {
  width: 26.18%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.footer .logo {
  width: 84%;
  margin-right: 0;
  margin-bottom: 22px;
}
.footer-social-links-block {
  width: 24.8%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
}
.footer-social-link {
  width: 36px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
  border-radius: 4px;
}
.footer-social-link svg {
  height: 18px;
  fill: #000;
  transition: all 0.3s ease;
}
.footer-social-link:hover svg{
  fill: #777777;
}
.footer-sub-text {
  font-size: 15px;
  line-height: 18px;
  text-align: right;
  color: #585858;
}


@media screen and (max-width: 1439px) {
  .container{
    width: 1140px;
  }
  .service-block {
    width: 22%;
  }
  .faq .section-title {
    font-size: 40px;
    line-height: 50px;
    margin-bottom: 22px;
  }
 .footer-logo-block {
    width: 35%;
  }
  .footer-social-links-block {
    width: 22%;
  }
}
@media screen and (max-width: 1199px) {
  .container{
    width: 960px;
  }
  .service-block svg {
      width: 35%;
  }
  .service-description {
    font-size: 16px;
  }
  .faq .section-text-block {
      width: 46.58%;
  }
  .footer-cols-block {
    width: 65.12%;
    display: flex;
    justify-content: space-between;
  }
  .footer-social-links-block {
    width: 25%;
  }
}
@media screen and (max-width: 991px) {
  .container{
    width: 720px;
  }
  .main-btn {
    width: 230px;
    padding: 18px 0;
    font-size: 16px;
    line-height: 85%;
  }
  .s-2 {
    padding: 60px 0 60px;
  }
  .section-text-block {
      width: 50.73%;
  }
  .s-3 {
    margin-bottom: 60px;
  }
  .s-4 {
    padding: 60px 0 60px;
    background: #383838;
  }
  .s-4 .row {
    flex-direction: column;
    text-align: center;
  }
  .faq .section-text-block {
      width: 100%;
  }
  .form-block {
    width: 100%;
  }
  .services {
    padding: 0;
  }
  .services .row {
    padding: 17px 20px;
  }
  .service-block {
    width: 24%;
  }
  .service-description {
    font-size: 14px;
  }
  footer {
      padding: 60px 0;
  }
  .footer .row {
    flex-direction: column;
  }
  .footer-cols-block {
    width: 100%;
  }
  .footer-logo-block {
    margin-top: 30px;
    width: 50%;
    align-items: flex-start;
  }
  .footer-social-links-block {
    width: 22%;
  }
}
@media screen and (max-width: 767px) {
  .container{
    width: 540px;
  }
  .main-btn {
    width: 190px;
    padding: 12px 0;
    font-size: 14px;
  }
  .section-title {
    font-size: 24px;
    margin-bottom: 25px;
  }
  .section-text {
    font-size: 16px;
    line-height: 130%;
    margin-bottom: 10px;
  }
  .service-description {
    font-size: 11px;
  }
  .faq .section-title {
    font-size: 32px;
    line-height: 40px;
    margin-bottom: 16px;
  }
  .faq .section-text {
    font-size: 16px;
    line-height: 20px;
  }
  .form-block input, .form-block textarea {
    padding: 10px;
    margin-bottom: 15px;
    font-size: 14px;
  }
  .form-btn {
    padding: 16px 0 12px;
    font-size: 14px;
    line-height: 18px;
  }
  .col-title {
    font-size: 16px;
    margin-bottom: 20px;
  }
  .footer-col-item {
    font-size: 14px;
  }
  .footer-text {
    font-size: 14px;
    margin-bottom: 10px;
  }
  .footer-logo-block {
    margin-top: 30px;
    width: 70%;
  }
  .footer-sub-text {
    font-size: 12px;
    line-height: 14px;
  }
}
@media screen and (max-width: 575px) {
  .container{
    width: 350px;
  }
  .header-bar {
    padding: 24px 0 20px;
  }
  .header-info-block {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: auto;
  }
  .info {
    line-height: 20px;
  }
  .section {
    margin: 40px 0;
    padding: 0;
  }
  .s-1 {
    margin-top: 0;
    padding-top: 48%;
  }
  .s-2 .row {
    flex-direction: column;
  }
  .section-img-block {
    width: 80%;
    margin-bottom: 20px;
  }
  .section-text-block {
    width: 100%;
  }
  .section-text {
    font-size: 14px;
    margin-bottom: 7px;
  }
  .s-3 {
    margin-bottom: 0;
  }
  .services .row {
    display: none;
  }
  .service-row {
    display: flex;
    flex-wrap: wrap;
    padding: 14px;
    background-color: #E4FCFF;
    align-items: flex-start;
  }
  .service-block {
    width: 40%;
    margin: 15px;
  }
  .s-4 {
    padding: 40px 0;
    margin: 0;
  }
  footer {
    padding: 40px 0;
  }
  .footer-cols-block {
    flex-direction: column;
    align-items: center;
  }
  .footer-col {
    margin-bottom: 35px;
    text-align: center;
  }
  .col-title {
    margin-bottom: 10px;
  }
  .footer-logo-block {
    margin-top: 0px;
    width: 100%;
    align-items: center;
  }
  .footer-social-links-block {
    width: 24%;
  }
}
@media screen and (max-width: 374px) {
  .container{
    width: 300px;
  }
   .section-img-block {
    width: 50%;
    margin-bottom: 20px;
  }
  .service-block {
    width: 39%;
    margin: 15px;
  }
  .service-row {
    padding: 0;
  }
  .footer-social-links-block {
    width: 32%;
  }
}